.jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080484; /* Couleur du filtre */
    opacity: 0.25; /* Opacité à 25% */
    z-index: 0; /* Assure que le filtre est au-dessus de la vidéo mais en-dessous de tout le reste */
}


#blue-marin{
    background-color: #080484
}

#blue-light{
    background-color: #c0bcdc;
}

footer{
    background-color: #080484
}