.jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080484; /* Couleur du filtre */
    opacity: 0.25; /* Opacité à 25% */
    z-index: 0; /* Assure que le filtre est au-dessus de la vidéo mais en-dessous de tout le reste */
}


#blue-marin{
    background-color: #080484
}

#blue-light{
    background-color: #c0bcdc;
}

/* Hover effect for the image and text */
#card-services:hover .card-img {
    transform: scale(1.3);
    filter: blur(4px);
  }

  /* Text appearance on hover */
  #card-services:hover #card-hover-text {
      opacity: 1;
      font-size: 20px;
  }

  /* Background color fading effect */
  #card-services:hover .bg-overlay {
      background-color: rgba(8, 4, 132, 0); /* Background becomes transparent */
  }

  #card-hover-text {
    opacity: 0;
    font-size: 20px;
  }

  .active, #navbaracti{
    background-color: #080484;
    z-index: 500;
    border-radius: 100px;
    padding-left: 25px;
    padding-right: 25px;
  }